NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=mydb
DB_SECURE=0
DB_IGNORE_SELF_SIGNED_CERT=0

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=0
SMTP_USER=no-reply@example.com
SMTP_PASSWORD=
SMTP_FROM="Helpdesk <no-reply@example.com>"
SMTP_TEST_RECIPIENT=
